**/.DS_Store
**/.idea/
**/.metadata/
**/node_modules/
**/package-lock.json
**/package.json
**/webpack.config.js
**/webpack.generated.js
**/.gitignore
**/.project
**/.classpath
**/.settings
**/.attach*
**/.checkstyle
**/*.iml

**/bin/
**/target/
**/target

**/VMTPlatform.ecore
**/VMTPlatform.genmodel
**/.reviewboardrc



**/*vmware.horizonview.sdk/src/main/resources/horizon-*.xml
**/*vmware.horizonview.sdk/src/main/resources/vim-*.xml
**/*vmware.horizonview.sdk/src/main/resources/*-test.properties
**/*vmware.sdk/src/main/resources/

